* {
    box-sizing: border-box;
}


nav{
    padding: 20px;
    font-size: 20px;
    background-color: rgb(120, 155, 161);
    text-align: center;
       
}
nav a{
padding: 100px;
color: azure;
font-family: 'Acme', sans-serif;
font-weight: bolder;


}



.welcome{
    margin: 50px;
    color:rgb(248, 248, 248);
    font-family: 'Bangers', cursive;
    text-align: center;
    font-weight: lighter;
    font-size: 50px;
    
    
    
}

.fakehome{
    
    color:color rgb(20, 19, 19);
    display: flex;
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 40px;
    border: rgb(15, 105, 96);
    justify-content: center;
    flex-direction: column;
    align-items: space-between;
   
   
    
    
}
.quote{
    background-color: rgb(120, 155, 161);
    color:rgb(240, 240, 240);
    margin-top: 40px;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    display: flex;
    align-items: center;
    margin: 40px;
    margin-left: 280px;
    margin-top: 100px;
    color:rgb(241, 237, 237);
    
}
html{
    background-image: url("C:/ptogrsmd/img.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}
.About{
    color:rgb(20, 19, 19);
    display: flex;
    font-family: 'Bangers', cursive;
    text-align: center;
    font-size: 40px;
    border: rgb(15, 105, 96);
    justify-content: center;
    flex-direction: column;
    align-items: space-between;
   margin: 80px;
   background-image: url("about.png");
   
}
.Sticky {
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}
